<clr-accordion>
  <clr-accordion-panel>
    <clr-accordion-title (click)="showTableData('clients')"><span>Client Company ({{ clientSource.length }})</span></clr-accordion-title>
      <button class="btn btn-primary btn-sm" (click)="$event.stopPropagation(); openAddClientModal('clients');">
        <i class="fa fa-plus" aria-hidden="true"></i> Add
      </button>
    <clr-accordion-content *ngIf="showClientData">
      <app-mat-table [displayedColumns]="clientColumns" [columnHeaders]="clientHeaders" [dataSource]="clientSource"></app-mat-table>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title (click)="showTableData('groups')"><span>Group ({{ groupSource.length }})</span></clr-accordion-title>
      
      <button class="btn btn-primary btn-sm" (click)="$event.stopPropagation(); openAddClientModal('groups');">
        <i class="fa fa-plus" aria-hidden="true"></i> Add
      </button>
    <clr-accordion-content *ngIf="showGroupData">
      <app-mat-table [displayedColumns]="groupColumns" [columnHeaders]="groupHeaders" [dataSource]="groupSource"></app-mat-table>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title (click)="showTableData('managers')"><span>Manager ({{ managerSource.length }})</span></clr-accordion-title>
      <button class="btn btn-primary btn-sm" (click)="$event.stopPropagation(); openAddClientModal('managers');">
        <i class="fa fa-plus" aria-hidden="true"></i> Add
      </button>
    <clr-accordion-content *ngIf="showManagerData">
      <app-mat-table [displayedColumns]="managerColumns" [columnHeaders]="managerHeaders" [dataSource]="managerSource"></app-mat-table>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title (click)="showTableData('leads')"><span>Lead ({{ leadSource.length }})</span></clr-accordion-title>
      <button class="btn btn-primary btn-sm" (click)="$event.stopPropagation(); openAddClientModal('lead');">
        <i class="fa fa-plus" aria-hidden="true"></i> Add
      </button>
    <clr-accordion-content *ngIf="showLeadData">
      <app-mat-table [displayedColumns]="leadColumns" [columnHeaders]="leadHeaders" [dataSource]="leadSource"></app-mat-table>
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title (click)="showTableData('recruiters')"><span>Recruiter ({{ recruiterSource.length }})</span></clr-accordion-title>
      <button class="btn btn-primary btn-sm" (click)="$event.stopPropagation(); openAddClientModal('recruiters');">
        <i class="fa fa-plus" aria-hidden="true"></i> Add
      </button>
    <clr-accordion-content *ngIf="showrecruiterData">
      <app-mat-table [displayedColumns]="recruiterColumns" [columnHeaders]="recruiterHeaders" [dataSource]="recruiterSource"></app-mat-table>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>
