<table mat-table [dataSource]="tableDataSource">
    <!-- Loop through displayedColumns -->
    <ng-container *ngFor="let column of columnHeaders; let i = index">
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{ displayedColumns[i] }} </th>
        <td mat-cell *matCellDef="let element; let j = index">
          <ng-container *ngIf="column === 'sno'">
            {{ serialNumber + j }}
          </ng-container>
          <ng-container *ngIf="column !== 'sno' && column !== 'actions'">
            {{ element[column] ? element[column] : 'NA' }}
          </ng-container>
          <ng-container *ngIf="column === 'actions'">
            <button mat-icon-button (click)="updateRow(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteRow(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
    </ng-container>
  
    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
    <tr mat-row *matRowDef="let row; columns: columnHeaders;"></tr>
  </table>
  
  