<clr-datagrid [clrDgItems]="dataSource">
  <!-- Header Row -->
  <clr-dg-column *ngFor="let column of columnHeaders">
    {{ column }}
  </clr-dg-column>

  <!-- Data Rows -->
  <clr-dg-row *ngFor="let element of dataSource; let j = index">
    <clr-dg-cell *ngFor="let column of columnHeaders">
      <ng-container *ngIf="column === 'sno'">
        {{ serialNumber + j }}
      </ng-container>
      <ng-container *ngIf="column !== 'sno' && column !== 'actions'">
        {{ element[column] ? element[column] : 'NA' }}
      </ng-container>
      <ng-container *ngIf="column === 'actions'">
        <button class="btn btn-primary btn-sm" (click)="updateRow(element)">
          <i class="fas fa-edit"></i>  Edit
        </button>
        <button class="btn btn-primary btn-sm" (click)="deleteRow(element.id)">
          <i class="fa fa-trash"></i>  Delete
        </button>
      </ng-container>
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
