<div>
  <div>
    <div class="clr-col-8">
      <h3>
        <cds-icon shape="bars"></cds-icon>
        Client Requirements
      </h3>
    </div>
    <div class="header-actions" style="text-align: right;">
      <button class="btn btn-outline" (click)="openAddRequirementModal()">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Requirement
      </button>
    </div>
  </div>
  
  <clr-datagrid>
    <clr-dg-column>Requirement Number</clr-dg-column>
    <clr-dg-column>Requirement Date</clr-dg-column>
    <clr-dg-column>Requirement</clr-dg-column>
    <clr-dg-column>Number of Positions</clr-dg-column>
    <clr-dg-column>Work Location</clr-dg-column>
    <clr-dg-column>Customer Name</clr-dg-column>
    <clr-dg-column>Client Name</clr-dg-column>
    <clr-dg-column>Group</clr-dg-column>
    <clr-dg-column>Manager Name</clr-dg-column>
    <clr-dg-column>Lead</clr-dg-column>
    <clr-dg-column>Recruiter</clr-dg-column>
    <clr-dg-column>BR No</clr-dg-column>
    <clr-dg-column>SR No</clr-dg-column>
    <clr-dg-column>Type of SOT</clr-dg-column>
    <clr-dg-column>Rehash?</clr-dg-column>
    <clr-dg-column>Requirement Level</clr-dg-column>
    <clr-dg-column>Skills Required</clr-dg-column>

    <clr-dg-row *ngFor="let requirement of requirements">
      <clr-dg-cell>{{ requirement.requirement_number  }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.requirement_date|date:'yyyy-MM-dd' }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.requirement }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.number_of_positions }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.work_location }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.customer_name }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.client_name }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.group_name }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.manager_name }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.lead }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.recruiter }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.br_number }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.sr_number }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.type_of_sot }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.rehash }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.requirement }}</clr-dg-cell>
      <clr-dg-cell>{{ requirement.required_skills }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Users per page</clr-dg-page-size>
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} users
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>
