/* dashboard.component.scss */

.dashboard-container {
    padding: 20px;
  }
  
  .cards-space{
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #fff; /* Set card background color */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow effect */
    margin-bottom: 20px;
    margin-left: 30px;
    height: 100%; /* Ensure cards have equal height */
  }
  
  .card-header {
    background-color:#00567a; /* Set card header background color */
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-title {
    margin-top: 0;
    margin-bottom: 0;
    color: white; /* Remove default margin */
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-text {
    margin-bottom: 0; /* Ensure paragraph text does not add extra margin */
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  @media (max-width: 768px) {
    .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  