<clr-modal [(clrModalOpen)]="modalOpen" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{title}}</h3>
  <div class="modal-body">
    <form [formGroup]="addRegistrationForm" (ngSubmit)="onSubmit()">
      <ng-container *ngIf="data == 'clients'">
        <clr-form>
          <div class="col">
            <div class="form-group">
              <label for="clientName">Group Name</label>
              <input type="text" class="form-control" id="clientName" formControlName="clientName" placeholder="Client Name">
            </div>
          </div>
        </clr-form>
      </ng-container>

      <ng-container *ngIf="data == 'groups'">
        <clr-form>
          <div class="col">
            <div class="form-group">
              <label for="groupName">Group Name</label>
              <input type="text" class="form-control" id="groupName" formControlName="groupName" placeholder="Group Name">
            </div>
          </div>
        </clr-form>
      </ng-container>

      <ng-container *ngIf="data == 'managers'">
        <clr-form>
          <!-- <clr-select-container>
            <label for="clientName">Client Name</label>
            <select clrSelect id="clientName" formControlName="clientName">
              <option selected>Select Client</option>
              <option *ngFor="let client of clientList" [value]="client.name">{{ client.name }}</option>
            </select>
          </clr-select-container>
          -->
          <div class="col">
            <div class="form-group">
              <label for="clientName">Client Name</label>
              <select clrSelect id="clientName" formControlName="clientName">
              <option selected>Select Client</option>
              <option *ngFor="let client of clientList" [value]="client.name">{{ client.name }}</option>
              </select>
            </div>
          </div>

          <clr-select-container>
            <label for="groupName">Group Name</label>
            <select clrSelect id="groupName" formControlName="groupName">
              <option selected>Select Group</option>
              <option *ngFor="let group of groupList" [value]="group.name">{{ group.name }}</option>
            </select>
          </clr-select-container>

          <clr-input-container>
            <label for="managerName">Manager Name</label>
            <input clrInput type="text" id="managerName" formControlName="managerName" placeholder="Manager Name">
          </clr-input-container>
        </clr-form>
      </ng-container>

      <ng-container *ngIf="data == 'lead'">
        <clr-form>
          <clr-input-container>
            <label for="clientName">Client Name</label>
            <input clrInput type="text" id="clientName" formControlName="clientName" placeholder="Client Name">
          </clr-input-container>

          <clr-input-container>
            <label for="groupName">Group Name</label>
            <input clrInput type="text" id="groupName" formControlName="groupName" placeholder="Group Name">
          </clr-input-container>

          <clr-input-container>
            <label for="managerName">Manager Name</label>
            <input clrInput type="text" id="managerName" formControlName="managerName" placeholder="Manager Name">
          </clr-input-container>

          <clr-input-container>
            <label for="leadName">Lead Name</label>
            <input clrInput type="text" id="leadName" formControlName="leadName" placeholder="Lead Name">
          </clr-input-container>
        </clr-form>
      </ng-container>

      <ng-container *ngIf="data == 'recruiter'">
        <clr-form>
          <clr-input-container>
            <label for="clientName">Client Name</label>
            <input clrInput type="text" id="clientName" formControlName="clientName" placeholder="Client Name">
          </clr-input-container>

          <clr-input-container>
            <label for="groupName">Group Name</label>
            <input clrInput type="text" id="groupName" formControlName="groupName" placeholder="Group Name">
          </clr-input-container>

          <clr-input-container>
            <label for="managerName">Manager Name</label>
            <input clrInput type="text" id="managerName" formControlName="managerName" placeholder="Manager Name">
          </clr-input-container>

          <clr-input-container>
            <label for="leadName">Lead Name</label>
            <input clrInput type="text" id="leadName" formControlName="leadName" placeholder="Lead Name">
          </clr-input-container>

          <clr-input-container>
            <label for="recruiter">Recruiter Name</label>
            <input clrInput type="text" id="recruiter" formControlName="recruiter" placeholder="Recruiter Name">
          </clr-input-container>
        </clr-form>
      </ng-container>

      <div class="modal-footer">
        <button clrButton type="submit" class="btn btn-primary">Add</button>
        <button clrButton type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
      </div>
    </form>
  </div>
</clr-modal>
